:host {
    display: flex;
    flex-direction: column;

    align-items: center;
}

:host > h1 {
    margin-bottom: 50px;
}

.contrast-container {
    width: 300px;
    padding: 25px;

    border-radius: 10px;
    border: 1px solid;
}

.contrast-container > h1 {
    margin-bottom: 30px;
}

.contrast-container > p {
    padding: 5px 0px;
}

.actions {
    display: flex;
    flex-direction: row;
}

button {
    width: 75px;
    padding: 5px;

    margin: 10px;
    cursor: pointer;
}

.back-ratio {
    display: flex;
    flex-direction: row;

    align-items: center;
}